@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-primary: #ffdb33;
  --color-secondary: #000000;
}

@layer base {
  body {
    @apply bg-background text-secondary font-mono;
  }
}
